numpy==1.26.4
pandas==2.2.3
torch
tqdm==4.67.1
scikit-learn==1.7.2
xgboost==3.1.1

mediapipe==0.10.21
opencv-contrib-python==4.11.0.86

streamlit==1.49.1
plotly==6.3.1
streamlit-autorefresh==1.0.1

langgraph
langchain-core
langchain-openai
openai

matplotlib
Pillow
pyarrow
pydantic